Alaiz
Predigao
**/__ignore__

## EWS
.env
*.probes.dat
*.vts
*.vti
*.vtr
*.scl
*.wnd
*.ewnd
ggeom.*
landuse.asc
albeq.dat
albedo.txt
conductivity.txt
density.txt
emissivity.txt
roughness.txt
moisture.txt
DispNrGramm.txt
PercentGramm.txt
Max_Proc.txt
LogFile_*.txt
*_steady_state.txt
TPI_*.txt
Topography.txt
AllSituations*.met
GRAMM*.exe
GRAMM.dat

mesh_new
mesh_old
Bin/*.exe

## Gis
Askervein/01_simulation*/**/GRAMM.geb
Askervein/01_simulation*/**/*.dat
Askervein/01_simulation*/**/geom.in
Askervein/01_simulation*/**/*.bat

Askervein/**/locations.geojson
Askervein/**/*.asc*
Askervein/**/*.prj
Askervein/**/*.aux.xml
Askervein/**/*.hgt*
Askervein/**/*.tif*
Askervein/**/*.vrt

Alaiz/**/locations.geojson
Alaiz/**/*.asc*
Alaiz/**/*.prj
Alaiz/**/*.aux.xml
Alaiz/**/*.hgt*
Alaiz/**/*.tif*
Alaiz/**/*.vrt

Predigao/**/locations.geojson
Predigao/**/*.asc*
Predigao/**/*.prj
Predigao/**/*.aux.xml
Predigao/**/*.hgt*
Predigao/**/*.tif*
Predigao/**/*.vrt

# Python
.pytest*
__pycache__
*.pyc
.ipynb_checkpoints